body{
    background-image: url(wallpaperflare.com_wallpaper.jpg) ;
}

.main-bar{
    font-family: "Audiowide", sans-serif;
    color: #fff;
    box-sizing: border-box;
    padding: 10px;
    font-size: larger;
    text-shadow: 
    0 0 5px #ff0000,
    0 0 10px #ff0000,
    0 0 20px #ff0000,
    0 0 30px #ff4500,
    0 0 40px #ff4500,
    0 0 50px #ff6347;
}

.main-bar .p{
    font-size: 16px;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
  }

.side-bar{
    display: flex;
    height: 590px;
    align-items: flex-end;
    
}

.side-bar ul{
    list-style-type: none;
    display: flex;
    width: 1800px;
    justify-content: space-around;
}

.side-bar li{
    
}
.side-bar a{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 30px;
    color: #fff;
    text-decoration: none;

    text-shadow: 
    0 0 5px #ff0000,
    0 0 10px #ff0000,
    0 0 20px #ff0000,
    0 0 30px #ff4500,
    0 0 40px #ff4500,
    0 0 50px #ff6347;
}

.side-bar a:hover{
    color: #ff0000;
    text-decoration:double;
    text-shadow: 
    0 0 5px #ff0000,
    0 0 10px #ff0000,
    0 0 20px #ff0000,
    0 0 30px #ff4500,
    0 0 40px #ff4500,
    0 0 50px #ff6347;
}